{:teachers-center-backend/server
 {:port #long #or [#env PORT 3000]
  :handler #ig/ref :teachers-center-backend/handler}

 :teachers-center-backend/handler
 {:openai-client #ig/ref :teachers-center-backend/openai-client
  :openai-content #include "openai-content.edn"}

 :teachers-center-backend/openai-client
 {:api-key #env OPENAI_API_KEY
  :base-url #or [#env OPENAI_BASE_URL "https://api.openai.com/v1"]}}