{:teachers-center-backend/server
 {:port 3000
  :handler #ig/ref :teachers-center-backend/handler}

 :teachers-center-backend/handler
 {:openai-client #ig/ref :teachers-center-backend/openai-client
  :openai-content #include "openai-content.edn"}

 :teachers-center-backend/openai-client
 {:api-key "sk-test-key"
  :base-url "https://api.openai.com/v1"}}